<div class="container">
<p id="notice"><%= notice %></p>

<div class="card">
<div class="card-body" style="width: 80%">
  
<p>
  <strong>Nom de la tâche:</strong>
  <%= best_in_place @task, :task_name %>
</p>

<p>
  <strong>Désignation:</strong>
  <%= best_in_place @task, :task_designation %>
</p>

<p>
  <strong>Date butoire:</strong>
  <%= best_in_place @task, :date_butoire %>
</p>

<p>
  <strong>Date butoire:</strong>
  <%= best_in_place @task, :collaborator_id %>
</p>

</div>

</div>
</div>